body{
    font-family: Arial, Helvetica, sans-serif;
}    
#menu {
    background: linear-gradient(10deg, #2d1a43, #ab42ec);
    text-align: center;
    color: white;
    width: 80%;
    padding: 15px 0px 30px 0px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inputTask {
    width: 50%;
    padding: 10px 0px 10px 15px;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    color: #612388;
}

#tombolTambah {
    width: 15%;
    max-width: 100px;
    padding: 10px;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 1px solid white;
}

#tombolTambah:hover {
    background-color: white;
    color: #ab42ec;
    transition: 0.3s;
}

#list {
    width: 80%;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

#list li {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ab42ec;
    color: #612388;
    font-size: 16px;
}

#list li button {
    float: right;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #ab42ec;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    margin-top: -7px;
    margin-right: -5px;
}